@import 'scaffolds';

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 130px;
  top: 0;
  left: 0;
  padding: 10px;
  bottom: 0;
  border-right: 1px solid #999;

  img {
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
  }

  .divider {
    height: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
  }

  .divider-d {
    height: 15px;
  }
}

.sub-nav {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
  margin-left: -10px;
  margin-right: -10px;
}

.content {
  padding: 10px;
  margin-left: 150px;
}

a {
  color: #0083d2 !important;
  text-decoration: none;
  margin-right: 5px;
  background-color: transparent !important;

  &:hover {
    color: #999 !important;
  }
}

p {
  strong {
    margin-right: 5px;
  }

  a {
    margin-left: 5px;
  }
}

h1, h2, h3 {
  margin: 0 0 10px;
  padding: 0;
}

.field {
  input[type=text] {
    width: 800px;
  }

  table {
    border: 0 none;
    td, th {
      border: 0 none;

      input {
        width: 200px !important;
      }
    }
  }
}

textarea {
  width: 800px;
  height: 75px;
}

table {
  border-bottom: 1px dotted #999;
  border-right: 1px dotted #999;

  td, th {
    padding: 4px;
    border-top: 1px dotted #999;
    border-left: 1px dotted #999;
  }
}

.field {
  label {
    display: block;
  }
}

.actions {
  input {
    margin: 5px 0;
    height: 30px;
    width: 75px;
  }
}
